@import url("./helpers.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    background-color: #f4f9f8;
    color: #072d4b;
}

* {
    /* outline: 1px solid red; */
}
.active-nav-item {
    background-color: #e0f0f8;
    font-weight: 600;
    color: #2f9ff8;
    border-radius: 0 37px 37px 0;
}

nav li:hover {
    background-color: #e0f0f8;
    font-weight: 600;
    color: #2f9ff8;
    border-radius: 0 37px 37px 0;

    img {
        filter: brightness(0) saturate(100%) invert(24%) sepia(83%)
            saturate(1848%) hue-rotate(180deg) brightness(94%) contrast(97%);
    }
}

nav li:active span:first-child {
    opacity: 1;
}

.blue-circle {
    width: 6px;
    height: 6px;
    background-color: #0768b5;
    border-radius: 50%;
    opacity: 0;
}

.active-nav-item .blue-circle {
    width: 6px;
    height: 6px;
    background-color: #0768b5;
    border-radius: 50%;
    opacity: 1;
}

.filter-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 9999px;
    background: #ffffff;
}
.filter-item.active {
    background: #2F9FF8;
    color: #FFF;
}
.filter-item:active {
    background: #2F9FF8;
    color: #FFF;
}
